# contains placeholder values or the variable names without real secrets
SUPABASE_DB_USER=user
SUPABASE_DB_PASSWORD=pass
SUPABASE_DB_HOST=host
SUPABASE_DB_PORT=port
SUPABASE_DB_NAME=db_name


# connection string with python from supabase # run with test_psycopg_conn.py
DATABASE_URL=url

# connection string with postgresql from supabase using psql from terminal
#DATABASE_URL=db_url
# password=password
ADMIN_AUTH_USERNAME=admin
AUTH_PASSWORD=ps
