# contains placeholder values or the variable names without real secrets
SUPABASE_DB_USER=supabse_user 
SUPABASE_DB_PASSWORD=supabase_pass
SUPABASE_DB_HOST=supabse_host
SUPABASE_DB_PORT=supabse_port
SUPABASE_DB_NAME=supbabase_db_name


# connection string with python from supabase # run with test_psycopg_conn.py
DATABASE_URL=supabase_url

# connection string with postgresql from supabase using psql from terminal
#DATABASE_URL=supabse_url
# password: pass