# python cache
__pycache__/
# pytest cache
.pytest_cache/
*.pyc
# venv
venv/
.venv/
# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env
.env.local
.env.*
!.env.example
#
.DS_Store
#
node_modules/
#
supabase/
#
.env.local
# logs
*.log
